<!-- Webpage title -->
<div class="hero-content">
  <h1 class="title">Pets-R-Us</h1>
  <div class="card-title"><%= pageTitle %></div>
</div>
<!-- nav bar -->
<nav class="navbar">
  <a href="/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">
      Services
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="grooming">Grooming</a>
      <a href="boarding">Boarding</a>
      <a href="training">Training</a>
    </div>
  </div>
  <a href="register">Register</a>
  <a href="customers">Customers</a>
  <a href="appointment">My Appointments</a>
</nav>
