body {
  background-color: #eee;
  font-size: 26px;
}

.wrapper {
  width: 700px;
  margin: 0;
  background-color: white;
  pad: 10px;
}

header,
footer {
  background-color: ghostwhite;
  padding: 20px;
}
main {
  background-color: cornsilk;
  padding: 20px;
  gap: 10px;
}

.layout-sidebar {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
